/* css styles */

.marker-cluster-fpp {
  background: #0075A9E6;
}

.marker-cluster-fpp div {
  background: #0075A9E6;
  color: #fff;
}

.marker-cluster-htw {
  background: #D24699;
}

.marker-cluster-htw div {
  background: #D24699;
  color: #fff;
}
